doctype html
html(class="no-js", lang="en")
  include header
  body
    .content
    <% if (usesOutdatedBrowser) { %>
    #outdated
      h6 Your browser is out-of-date!
        |
      p
        | Update your browser to view this website correctly. 
        a#btnUpdateBrowser(href='http://outdatedbrowser.com/') Update my browser now 
      |
      p.last
        a#btnCloseUpdateBrowser(href='#', title='Close') &times;
    <% } %>
    
    <% if (usesjQuery) { %>
    script(src='vendor/jQuery.js')
    <% } %>
    
    <% if (usesOutdatedBrowser) { %>
    script(src='vendor/outdatedbrowser.js')
    script(type='text/javascript').
      outdatedBrowser({
        bgColor: '#f25648',
        color: '#ffffff',
        lowerThan: 'transform',
        languagePath: ''
      });
    <% } %>
    
    script(src="js/scripts.js")
    
    <% if (usesGoogleAnalytics) { %>
    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '', 'auto');
      ga('send', 'pageview');
    <% } %>
