doctype html
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
html(class="no-js", lang="en")
  <!--<![endif]-->
  include partials/_header
  body
    .content
      h1.title Congratulations!
      p.desc You just made a one pager in a matter of seconds, feels good doesnt it?
      img(src='images/yo.png')
    include partials/_footer
